
.navbar{
    background-color: white;
}
.login-btn{
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 500;
    background-color: white;
    margin-right: 10px;
}
.signup-btn{
    border-radius: 8px;
    border: none;
    background-color: #e21b70;
    font-weight: 500;
    color: white;
}
.lang-btn{
    font-weight: 500;
    background-color: white;
    border: none;
}
.mav{
    display: flex;
    gap: 10px;
}
.mobile{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}